<div class="row">
  <div class="col-xs-12">
    <h1>Trombinoscope</h1>
  </div>
</div>
  <div class="row user-index-trombi">
    <div class="col-xs-12">
    <% @users.each do |user| %>
      <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 user-item"> -->
      <div class="trombi-item">
        <div class="avatar" style="background-image: url('<%= user.avatar.url(:thumb) %>')">
        </div>
        <div class="list-users-name">
          <%= link_to user_show_path(user.username) do %>
            <%= user.first_name %><br><%= user.last_name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
