<div class="row user-index">
  <h1>Trombinoscope</h1>
  <% @users.each do |user| %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 user-item">
      <div class="avatar" style="background-image: url('<%= user.avatar.url(:thumb) %>')">
      </div>
      <div class="list-users-name">
        <%= link_to user_show_path(user.username) do %>
          <%= user.first_name %> <%= user.last_name %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
