/*$main-color: rgb(100,100,100); */
$main-color: hsla(209,55%,71%,1);
$main-color-dark: hsla(209,55%,51%,1);

.body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.nav.nav-tabs > .nav-right {
  float: right;
}
.main {
  padding-top: 30px;
}

body {
  font-weight: 200;
}
body {
    h1, h2, h3 {
    font-weight: 100;
    color: $main-color;
  }
}

.btn.btn-default {
  background-color: hsla(209,55%,71%,1);
  color: hsla(209,55%,99%,1);
  border-color: hsla(209,55%,68%,1);
  &:hover {
    background-color: hsla(209,55%,61%,1);
    color: hsla(209,55%,95%,1);
  }
}
.nav.nav-tabs a {
  color: $main-color-dark;
}

body .table-responsive {
  border: none;
}

