.user-index-trombi {
  /*.user-item, .user-item > div {
    text-align: center;
  }*/
  > div {
    padding-right: 0;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    /*float: right;*/
    margin: 10px auto 5px;
  }
  .trombi-item {
    width: 125px;
    height: 155px;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
  }
}

.user-show {
  .details-block {
    margin: 20px 0;
  }
  .show-avatar {
    max-width: 200px;
    max-height: 250px;
  }
  .dl-horizontal dt {
    text-align: left;
    font-weight: inherit;
    width: 135px;
  }
  .dl-horizontal dd {
    margin-left: 135px;
  }
}

.user-edit {
  h2 {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .user_birth_day > label,
  .user_wedding_day > label {
    display: block;
  }
  .user_birth_day > select,
  .user_wedding_day > select {
    display: inline-block;
    width: auto;
  }
  .form-date-inline > .form-group {
    display: inline-block;
  }
  .form-date-inline > .form-group:nth-child(2) {
    width: calc(100%-200px);
  }
  .mariage-checkbox {
    padding-left: 20px;
  }
  .wedding-checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .avatar-input {
    font-size: 16px;
    margin-top: 8px;
  }
}

.user-edit-password {
  h2 {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}